#project-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 10px;
  column-gap: 5%;
  row-gap: 10px;
  margin: 5%;
}

img {
  height: 200px; 
}

#PETBNK {
  display: flex;
  flex-direction: row;
  flex-shrink: initial;
}

.homepage_loginform {
  height: 5%;
  width: 5%;
}

h3 {
  text-decoration: underline;
  text-decoration-color: #000FFF;
}
