* {
    border: red solid 1px;
}
.profile_card {
    background-color: gray;
    border-radius: 15px;
    font-family: 'Open Sans', Arial, sans-serif;
    position: relative;
    margin: 5%;
    /* min-width: 230px;
    max-width: 315px; */
    width: 100%;
    color: #ffffff;
    text-align: center;
    line-height: 1.4em;
    display: flex;
    flex-direction: row; 
  }

  h2 {
    font-size: 1.5em;
    margin: 2%;
    font-weight: bold;
}

  .pledges_card {
    background-color: gray;
    border-radius: 15px;
    padding: 5%;
    font-family: 'Open Sans', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin-left: 5%;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    color: #ffffff;
    text-align: center;
    line-height: 1.4em;
    display: flex;
  }

.profile_items {
    justify-content: center;
    align-content: center;
    width: 30%; 
}

.profile_pic {
    border-radius: 50%;
    right: 50%;
    left: 50%;
    max-width: 300px;
    opacity: 1;
    box-shadow: 3px 3px 20px #000FFF;
    border: 2px solid #000FFF;
}

.pet_pics {
    align-items: center;
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
    opacity: 1;
    box-shadow: 3px 3px 20px #000FFF;
    border: 2px solid #000FFF;
}

.active_projects {
    background-color: gray;
    min-width: 300px;
    max-width: 300px;
}


.closed_projects{
    background-color: gray;
    min-width: 300px;
    max-width: 300px;

}